<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="images/Group 33547.png" rel="icon"> -->

    <!-- Favicon -->
    <link href="/static/images/images/Group 33547.png" rel="icon">

    <!-- font -->


    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- css -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/static/js/custom.js" defer></script>

</head>

<body>

    <header class="container-fluid header">
        <div class="container">
            <div class="row">
                <div class="col-4 head-col1">
                    <div class="logo">
                        <img src="/static/images/Group 33547.png" alt="">
                    </div>
                </div>
                <div class="col-8 head-col2">
                    <a href="/login" class="header-btn" id="login">Login</a href="">
                    <a href="/signup" class="header-btn" >SignUp</a href="">
                </div>

            </div>
        </div>
    </header>
    <section class="container-fluid row2">
        <div class="container">
            <div class="row">
                <!-- col-1 -->
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="image-div">
                        <img src="/static/images/pngtree-cloud-png-image_1700130 1.png" alt="">
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                    <div class="col-lg-12 my-3">
                        <div class="d-flex justify-content-between box-div">
                            <div class="data-col">
                                <h4 class="ser-head">See All <br> Services</h4>
                                <div class="bar"></div>
                                <a href="#" class="ser_btn">All Services</a>
                            </div>
                            <div class="data-col">
                                <span class="data-col-span"><i class="fa-solid fa-phone-volume"></i></span>
                                <h4 class="data-col-head">Corporate Solutions</h4>
                                <div class="bar"></div>
                                <p class="data-p">Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s,</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 my-3">
                        <div class="d-flex justify-content-between box-div">
                            <div class="data-col">
                                <span class="data-col-span"><i class="fa-solid fa-headphones"></i></span>
                                <h4 class="data-col-head">Corporate Solutions</h4>
                                <div class="bar"></div>
                                <p class="data-p">Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s,</p>
                            </div>
                            <div class="data-col">
                                <span class="data-col-span"><i class="fa-solid fa-cloud-arrow-up"></i></span>
                                <h4 class="data-col-head">Corporate Solutions</h4>
                                <div class="bar"></div>
                                <p class="data-p">Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s,</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid row3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 row3-col1 d-flex justify-content-center align-items-center">
                    <div class="image-div">
                        <img src="/static/images/Group 33544.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12  d-flex align-items-center row3-col2">
                    <div class="d-inline-block">
                        <h2>Years Of<br>Experience</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci repellat perferendis
                            libero alias sed amet expedita maxime modi iusto eveniet, reprehenderit omnis provident,
                            delectus necessitatibus possimus aut nisi tenetur!
                        </p>
                        <a href="#" class="cloud-btn">get in touch</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 row3-col3">
                    <div class="col-lg-12 my-3 ">
                        <div class="d-flex justify-content-between box-div">
                            <div class="counter-div">
                                <p class="counter-p">
                                    <span class="counter-num" data-num='110'>110</span>K
                                </p>
                                <p class="caption">Apps developed</p>
                            </div>
                            <div class="counter-div">
                                <p class="counter-p">
                                    <span class="counter-num" data-num='7'>7</span>
                                </p>
                                <p class="caption">Consultants</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 my-3">
                        <div class="d-flex justify-content-between box-div">
                            <div class="counter-div">
                                <p class="counter-p">
                                    <span class="counter-num" data-num='7'>7</span>
                                </p>
                                <p class="caption">Award Wons</p>
                            </div>
                            <div class="counter-div">
                                <p class="counter-p">
                                    <span class="counter-num" data-num='103'>103</span>
                                </p>
                                <p class="caption">Employees</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contianer-fluid btn-div my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 btn-div-col mt-4 text-center">
                    <a href="#" class="cloud-btn">
                        <span><i class="fa-brands fa-slack"></i> </span>
                        Logoipsum
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 btn-div-col mt-4 text-center">
                    <a href="#" class="cloud-btn">
                        <span> <i class="fa-solid fa-certificate"></i> </span>
                        Logoipsum
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 btn-div-col mt-4 text-center">
                    <a href="#" class="cloud-btn">
                        <span><i class="fa-brands fa-slack"></i> </span>
                        Logoipsum
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 btn-div-col mt-4 text-center">
                    <a href="#" class="cloud-btn">
                        <span> <i class="fa-solid fa-certificate"></i> </span>
                        Logoipsum
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid row4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 row4-col1 d-flex justify-content-center  flex-column">

                    <h2 class="row4-col1-h2">get more with us</h2>
                    <div class="tab-div">
                        <div class="tab-num-div">
                            <a href="javascript:void(0)" class="tab-anc">01</a>
                            <a href="javascript:void(0)" class="tab-anc">02</a>
                            <a href="javascript:void(0)" class="tab-anc">03</a>
                            <a href="javascript:void(0)" class="tab-anc">04</a>
                        </div>
                        <div class="tab-bar-div">
                            <span class="tab-bar"></span>
                        </div>
                        <div class="tab_content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ab atque laudantium
                            perferendis, quae a reiciendis commodi similique praesentium corporis sunt, ut aut nam
                            aliquam quod dolor assumenda magni. Corrupti?
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <a href="#" class="cloud-btn">get in touch</a>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 row4-col2 d-flex justify-content-end align-items-center">
                    <div class="image-div">
                        <img src="/static/images/pngwing 4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid row5 my-4 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 my-4 text-center row5-col1">
                    <h2>What people say</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col-lg-12 profile-div d-flex">
                        <div class="col-lg-4 profile-div-col1 d-flex align-items-center">
                            <div class="image-div">
                                <img src="/static/images/profile.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 profile-div-col2 px-2">
                            <h6>Catherine Williams</h6>
                            <p>Regular Clients</p>
                            <div class="d-flex gap-3 my-2">
                                <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col-lg-12 profile-div d-flex">
                        <div class="col-lg-4 profile-div-col1 d-flex align-items-center">
                            <div class="image-div">
                                <img src="/static/images/profile.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 profile-div-col2 px-2">
                            <h6>Catherine Williams</h6>
                            <p>Regular Clients</p>
                            <div class="d-flex gap-3 my-2">
                                <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col-lg-12 profile-div d-flex">
                        <div class="col-lg-4 profile-div-col1 d-flex align-items-center">
                            <div class="image-div">
                                <img src="/static/images/profile.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 profile-div-col2 px-2">
                            <h6>Catherine Williams</h6>
                            <p>Regular Clients</p>
                            <div class="d-flex gap-3 my-2">
                                <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-parent" id="login-popop">
        <div class="alert-pop text-center">
            <div class="pop-img">
                <img src="/static/images/Group 33547.png" alt="">
            </div>
            <h2 class="pop-head">Login</h2>
            <div class="pop-form-div">
                <form action="#" method="post">
                    <input type="email" placeholder="email" class="pop-inp">
                    <input type="password" placeholder="password" class="pop-inp">
                    <a href="#" class="for-pass">Forgot Your Password?</a>
                    <input type="submit" value="login" class="pop-sub-btn">
                </form>
            </div>
            <div class="login-opt">
                <a href="#" class="other-login-btn">
                    <span class="log-icon">
                        <i class="fa-brands fa-google"></i>
                    </span>
                    Google
                </a>
                <a href="#" class="other-login-btn">
                    <span class="log-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    facebook
                </a>

            </div>
            <div class="login-opt mt-2 gap-3 align-items-center">
                <a href="#" class="more-login-opt">Don’t have an account?</a>
                <a href="#" class="more-login-opt ">Create one now</a>
            </div>
          
          <button class="cancel_btn"><i class="fa-solid fa-x"></i></button>
        </div>
    
    </div>




    <footer class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 my-4">
                    <p class="footer-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nobis ea repellendus. Autem sequi
                        nostrum, eos et sunt laudantium? Enim quam dicta voluptate, beatae animi ullam reprehenderit
                        tempore? Atque, deleniti.
                    </p>
                    <div class="d-flex  footer-col-row">
                        <div class="col-3 d-flex align-items-center">
                            <p class="label">Address</p>
                        </div>
                        <div class="col-9">
                            <h6 class="footer-heading">4730 crystal spring Dr,Los Angles, CA 900727</h6>
                        </div>
                    </div>
                    <div class="d-flex footer-col-row">
                        <div class="col-3 d-flex align-items-center">
                            <p class="label">Phone</p>
                        </div>
                        <div class="col-9">
                            <h6 class="footer-heading">+1 323-567-4648 | +1 323,888,4554</h6>
                        </div>
                    </div>
                    <div class="d-flex footer-col-row">
                        <div class="col-3 d-flex align-items-center">
                            <p class="label">E-mail's</p>
                        </div>
                        <div class="col-9">
                            <h6 class="footer-heading">info@hotmail.com
                                info@demolink.org</h6>
                        </div>
                    </div>
                    <div class="d-flex gap-3 my-4">
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 my-4">
                    <h2 class="footer-col-head">
                        Questions? Contact Us
                    </h2>
                    <form action="#">
                        <input type="text" class="contact-inp" placeholder="name">
                        <input type="text" class="contact-inp" placeholder="E-mail">
                        <textarea name="" class="contact-inp" id=""  rows="5" placeholder="Message"></textarea>
                        <input type="submit" value="Send A Message" class="cloud-btn" id="submit-btn">
                    </form>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 my-4">
                     <h2 class="footer-col-head"> What we offers?</h2>
                     <ul class="offer-ul">
                        <li>DB Management <span><i class="fa-solid fa-caret-left"></i></span></li>
                        <li>IOS / MacOS <span><i class="fa-solid fa-caret-left"></i></span></li>
                        <li>Android Apps <span><i class="fa-solid fa-caret-left"></i></span></li>
                        <li>Window Apps <span><i class="fa-solid fa-caret-left"></i></span></li>
                        <li>UI & UX <span><i class="fa-solid fa-caret-left"></i></span></li>
                     </ul>
            </div>
            </div>
        </div>
    </footer>
</body>

</html>