<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trash</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/images/favicon.ico" rel="icon">


   <!-- Google Web Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
       rel="stylesheet">

   <!-- icomoon -->
   <link rel="stylesheet" type="text/css" href="/static/icomoon/style.css">



   <!-- Icon Font Stylesheet -->



   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
       integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
       integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
       integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />


   <!-- Customized Bootstrap Stylesheet -->
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Template Stylesheet -->
   <link href="/static/css/style2.css" rel="stylesheet">


</head>

<body>
    <div class="container-fluid p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pb-3">
          <nav class="navbar bg-secondary navbar-dark">
              <a href="index.html" class="navbar-brand">
                  <img src="/static/images/logo.png">
              </a>
              <div class="navbar-nav w-100">
                  <ul>
                      <li><a href="/dashboard" class="nav-item nav-link active"><span
                                  class="icon-Group-1"></span>Dashboard</a> </li>
                      <li><a href="/cloud" class="nav-item nav-link"><span
                                  class="icon-Group"></span>Drive</a></li>
                      <li><a href="/starred" class="nav-item nav-link"><span
                                  class="icon-Group-3"></span>Starred</a></li>
                      <!--<li> <a href="shared.html" class="nav-item nav-link"><i class="fa-regular fa-star me-2"></i>Shared</a> </li>-->
                      <li><a href="/trash" class="nav-item nav-link"><span class="icon-Group-4"></span>Trash</a>
                      </li>

                  </ul>
              </div>
          </nav>
      </div>
      <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0" id="nav_bar">

                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <button class="nav-toggle">
                        <span class="bar-top"></span>
                        <span class="bar-mid"></span>
                        <span class="bar-bot"></span>
                    </button>
                </a>
                <h4>Trash</h4>

                <form action="/search" method="post" class="d-none d-md-flex ms-4">
                    <div class="div-21">
                            <input type="text" placeholder="Search.." name="search_form">
                            <button type="submit">
                                <img loading="lazy" src="/static/images/search.png" class="img-8" />
                            </button>
                    </div>
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link">
                            <img
                                loading="lazy"
                                src="/static/images/sort.png"
                                class="sort_img"
                             />
                        </a>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link">
                            <img
                                loading="lazy"
                                srcset="/static/images/view.png"
                                class="sort_img"
                             />
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

      <div class="content_col_1" id="trash_table">
                
               <table style="width:100%" class="table table-dark"> 
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>File Size</th>
                        <th>Deleted Date</th>
                        <th>Restore</th>
                        <th>Permanent Delete</th>
                        
                    </tr>

                    {% for file in files %}
                <tr>
                    <td>{{ file[2]}}</td>
                    <td>{{ file[4]}}</td>
                    <td>{{ file[5]}} MB</td>
                    <td>{{ file[6] }}</td>
                    <td><a href="{{ url_for('restore', file_hash=file[3]) }}"><i class="fas fa-trash-restore"></i></a></td>
                    <td><a href="{{ url_for('permanent_delete', file_hash=file[3]) }}"><i class="bi bi-trash"></i></a></td>
                    <td>
                        <a href="{{url_for('star', file_hash=file[3])}}">
                            {% if file[7] == 1 %}
                                <span id="boot-icon" class="bi bi-star-fill" style="font-size: 20px; color: rgb(243, 156, 18);"></span>
                            {% endif %}

                        </a>
                    </td>
                    
                </tr>
            {% endfor %} 
                </table>
        </div>
        <!-- content_col1 ends -->


        <div class="screen">
          <div class="div" style=" background: white; display: inline-block; ">
              <!-- <div class="screen_nav">
                  <a href="#" class="screen_nav_items"></i>Profile</a>
                  <a href="#" class="screen_nav_items">Setting</a>
                  <a href="#" class="screen_nav_items">Log out</a>
              </div> -->
              <div class="div-2">
                <img loading="lazy"
                    srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg"
                    class="img" style="border-radius: 20px;" />
                <div class="div-3"><b>{{username}}</b></div>
                <a href="#/" id="screen_dot"></a>
            </div>
              <div class="div-4">
                  <!-- <div class="div-5">Storage</div>
                  <div class="div-6">75GB/100GB</div> -->
              </div>
              <div class="wrapper img-3">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
                      <title>elipse</title>
                      <circle id="bg-circle" cx="90" cy="90" r="80" />
                      <circle id="fg-circle" cx="90" cy="90" r="80" />
                  </svg>
                  <h3>{{storage_percentage}}</h3>
                  <p>Used</p>
              </div>
              <div class="div-7">File Type</div>
<!-- 
              <div class="div-8">

                  <div class="div-9">
                      <div class="div-10">
                          <div class="div-11">
                              <img srcset="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png"
                                  loading="lazy" class="img-5" />
                              <div class="div-12">Images</div>
                              <div class="div-13">15 GB</div>
                          </div>
                      </div>
                  </div>
                  <div class="div-9">
                      <div class="div-10">
                          <div class="div-11">
                              <img loading="lazy"
                                  srcset="https://www.iconpacks.net/icons/1/free-video-icon-818-thumb.png"
                                  class="img-5" />
                              <div class="div-12">Video</div>
                              <div class="div-13">21 GB</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="div-8">
                  <div class="div-9">
                      <div class="div-10">
                          <div class="div-11">
                              <img loading="lazy" srcset="https://cdn-icons-png.flaticon.com/512/4585/4585036.png"
                                  class="img-5" />
                              <div class="div-12">Documents</div>
                              <div class="div-13">25 GB</div>
                          </div>
                      </div>
                  </div>
                  <div class="div-9">
                      <div class="div-10">
                          <div class="div-11">
                              <img loading="lazy"
                                  srcset="https://o.remove.bg/downloads/8846f4ce-94da-4cb3-b48c-e97d80b7e67c/pngtree-vector-folder-icon-png-image_3788101-removebg-preview.png"
                                  class="img-5" />
                              <div class="div-12">Others</div>
                              <div class="div-13">14 GB</div>
                          </div>
                      </div>
                  </div>
              </div> -->

              <div class="screen-data my-2">
                  <div class="s-data">
                    <form action="/filter_images" method="post">
                        <button type="submit">
                   <a href="javascript:void(0)" class="screen-icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="20.000000pt" height="20.000000pt" viewBox="0 0 512.000000 512.000000"
                     preserveAspectRatio="xMidYMid meet">
                    
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M240 4541 c-90 -28 -169 -96 -209 -181 l-26 -55 0 -1745 0 -1745 26
                    -55 c32 -66 86 -123 154 -158 l50 -27 2325 0 2325 0 52 27 c68 36 120 90 152
                    158 l26 55 0 1745 0 1745 -26 55 c-32 68 -84 122 -152 158 l-52 27 -2310 2
                    c-1270 1 -2321 -2 -2335 -6z m4550 -1493 l0 -1182 -27 26 c-238 221 -637 575
                    -668 591 -51 27 -154 29 -205 3 -19 -10 -189 -172 -378 -359 -203 -203 -345
                    -338 -350 -331 -37 54 -1292 1540 -1316 1558 -86 64 -215 61 -291 -6 -20 -17
                    -297 -335 -617 -707 -319 -372 -587 -683 -594 -691 -12 -12 -14 166 -14 1133
                    l0 1147 2230 0 2230 0 0 -1182z"/>
                    <path d="M3755 3806 c-119 -30 -237 -121 -290 -226 -117 -231 -23 -502 213
                    -613 63 -30 74 -32 182 -32 109 0 119 2 183 32 182 86 291 286 259 473 -46
                    260 -297 428 -547 366z"/>
                    </g>
                    </svg>
                    </a>
                </button>
                    </form>
                      <h6>Images</h6>
                      <!-- <span class="storage">15 gb</span> -->
                  </div>
                  <div class="s-data">
                    <form action="/filter_videos" method="post">
                        <button type="submit">
                        <a href="javascript:void(0)" class="screen-icon">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="20.000000pt" height="20.000000pt" viewBox="0 0 512.000000 512.000000"
                            preserveAspectRatio="xMidYMid meet">
                           
                           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                           <path d="M2321 5109 c-486 -43 -989 -249 -1376 -564 -114 -92 -294 -274 -384
                           -387 -229 -287 -417 -675 -495 -1023 -49 -218 -60 -325 -60 -575 0 -250 11
                           -357 60 -575 79 -355 272 -749 509 -1040 92 -114 274 -294 387 -384 287 -229
                           675 -417 1023 -495 218 -49 325 -60 575 -60 250 0 357 11 575 60 261 58 603
                           204 828 353 389 259 688 599 893 1016 165 337 246 658 261 1033 23 598 -168
                           1183 -545 1672 -84 109 -323 348 -432 432 -528 407 -1164 595 -1819 537z m508
                           -2023 c585 -293 774 -392 789 -413 55 -79 49 -172 -15 -238 -26 -27 -214 -125
                           -784 -410 -714 -357 -752 -375 -805 -375 -30 0 -67 6 -82 14 -36 19 -78 65
                           -91 99 -8 19 -11 278 -11 797 0 519 3 778 11 797 25 68 93 112 172 113 42 0
                           122 -38 816 -384z"/>
                           </g>
                           </svg>
                            </a>
                        </button>
                        </form>
                          <h6>Video</h6>
                          <!-- <span class="storage">21 gb</span> -->
                  </div>
              </div>
              <div class="screen-data my-2">
                  <div class="s-data">
                    <form action="/filter_documents" method="post">
                        <button type="submit">
                   <a href="javascript:void(0)" class="screen-icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="20.000000pt" height="20.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">
                   
                   <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                   <path d="M955 5106 c-84 -21 -147 -57 -211 -121 -65 -65 -105 -136 -123 -223
                   -16 -76 -16 -4329 0 -4404 37 -172 175 -310 347 -347 75 -16 3108 -16 3184 0
                   170 36 311 178 347 347 8 38 11 545 11 1748 0 1532 -2 1698 -16 1727 -22 44
                   -1220 1244 -1266 1268 -36 18 -68 19 -1130 18 -839 -1 -1105 -4 -1143 -13z
                   m2055 -681 c0 -256 4 -413 11 -447 37 -172 175 -310 347 -347 34 -7 191 -11
                   447 -11 l395 0 0 -1600 c0 -1585 0 -1601 -20 -1640 -13 -26 -34 -47 -60 -60
                   -39 -20 -56 -20 -1571 -20 l-1531 0 -40 22 c-24 14 -48 38 -59 60 -18 36 -19
                   95 -19 2180 1 2044 2 2145 19 2177 10 18 35 44 57 57 l39 24 993 0 992 0 0
                   -395z m699 -503 c-275 -2 -281 -2 -321 20 -75 42 -78 58 -78 380 l0 283 340
                   -340 340 -340 -281 -3z"/>
                   <path d="M1588 2979 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20
                   57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130
                   -38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z"/>
                   <path d="M1588 2379 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20
                   57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130
                   -38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z"/>
                   <path d="M1588 1779 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20
                   57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130
                   -38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z"/>
                   <path d="M1588 1179 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -19
                   58 -20 670 -20 612 0 632 1 670 20 45 23 80 80 80 130 0 50 -35 107 -80 130
                   -38 19 -57 20 -672 20 -610 -1 -634 -2 -670 -21z"/>
                   </g>
                   </svg>
                   
                    </a>
                    </button>
                </form>
                      <h6>Document</h6>
                      <!-- <span class="storage">25 gb</span> -->
                  </div>
                  <div class="s-data">
                    <form action="/filter_others" method="post">
                        <button type="submit">
                    <a href="javascript:void(0)" class="screen-icon">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="20.000000pt" height="20.000000pt" viewBox="0 0 512.000000 512.000000"
                        preserveAspectRatio="xMidYMid meet">
                       
                       <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                       <path d="M681 4464 c-169 -45 -301 -180 -346 -351 -13 -49 -15 -259 -15 -1553
                       0 -1636 -3 -1551 58 -1664 39 -72 127 -158 200 -195 128 -65 20 -61 1757 -61
                       1741 0 1634 -4 1757 62 68 36 165 135 197 200 12 25 129 384 261 799 262 822
                       265 837 236 962 -21 91 -55 154 -120 225 -88 94 -219 152 -348 152 l-58 0 0
                       183 c0 198 -11 271 -55 356 -35 71 -125 163 -193 199 -115 62 -119 62 -743 62
                       -472 0 -572 2 -600 14 -19 8 -187 135 -374 281 -344 269 -411 313 -513 334
                       -86 18 -1032 14 -1101 -5z m1063 -318 c29 -12 303 -221 621 -473 94 -74 198
                       -129 274 -143 32 -6 283 -10 613 -10 620 0 603 2 654 -66 l29 -37 3 -189 3
                       -188 -1313 0 c-1431 0 -1364 3 -1480 -56 -75 -38 -168 -135 -205 -214 -17 -36
                       -90 -258 -164 -493 l-134 -429 -3 1079 c-1 593 0 1092 3 1110 7 40 49 91 90
                       109 46 20 961 20 1009 0z m2637 -1442 c58 -24 99 -83 99 -143 0 -33 -67 -256
                       -229 -767 -126 -396 -236 -734 -245 -751 -8 -17 -30 -42 -48 -55 l-33 -23
                       -1568 -3 c-1725 -2 -1647 -5 -1627 55 5 15 113 357 240 758 127 402 240 758
                       251 793 24 71 59 119 104 138 24 11 304 13 1522 14 1364 0 1496 -1 1534 -16z"/>
                       </g>
                       </svg>
                        </a>
                    </button>
                    </form>
                          <h6>Other</h6>
                  </div>
              </div>
              <form action="/logout" method="post">
                <button type="submit" class="btn btn-primary button">Logout</button>
            </form>
          </div>
      </div>
        </div>
        <!-- Content End -->
    </div>

    <!-- container_fluid ends -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>
<script type="">
      $("#screen_dot").click(function(){
       $(".screen_nav").toggle();
    });

    $("#table_dot_1").click(function(){
       $("#nav_1").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_2").click(function(){
       $("#nav_2").show();
       $("#nav_1").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_3").click(function(){
       $("#nav_3").show();
       $("#nav_2").hide();
       $("#nav_1").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_4").click(function(){
       $("#nav_4").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_1").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_5").click(function(){
       $("#nav_5").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_1").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_6").click(function(){
       $("#nav_6").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_1").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_7").click(function(){
       $("#nav_7").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_1").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_8").click(function(){
       $("#nav_8").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_1").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
    });

    $("#table_dot_9").click(function(){
       $("#nav_9").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_1").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();


    });

    $("#table_dot_10").click(function(){
       $("#nav_10").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_1").hide();
       $("#nav_11").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();


    });

    $("#table_dot_11").click(function(){
       $("#nav_11").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
       $("#nav_1").hide();
    });

    $("#table_dot_12").click(function(){
       $("#nav_12").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_11").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
       $("#nav_1").hide();
    });

    $("#table_dot_13").click(function(){
       $("#nav_13").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_12").hide();
       $("#nav_11").hide();
       $("#nav_14").hide();
       $("#nav_15").hide();
       $("#nav_1").hide();
    });

    $("#table_dot_14").click(function(){
       $("#nav_14").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_11").hide();
       $("#nav_15").hide();
       $("#nav_1").hide();
    });

    $("#table_dot_15").click(function(){
       $("#nav_15").show();
       $("#nav_2").hide();
       $("#nav_3").hide();
       $("#nav_4").hide();
       $("#nav_5").hide();
       $("#nav_6").hide();
       $("#nav_7").hide();
       $("#nav_8").hide();
       $("#nav_9").hide(); 
       $("#nav_10").hide();
       $("#nav_12").hide();
       $("#nav_13").hide();
       $("#nav_14").hide();
       $("#nav_11").hide();
       $("#nav_1").hide();
    });

</script>


